main {
  &.homepage {
    .section {
      &-1 {
        height: calc(100dvh - var(--mc-header-height));
        transition: transform 0.25s ease-in-out, height 0.25s ease-in-out;

        .scroll-hint-wrapper {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 32px;
          border-radius: 50px;
          border: 2px solid #ffffff;
          background-color: transparent;
          cursor: pointer;
          z-index: 1;

          .scroll-dot {
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translate(-50%);
            width: 3px;
            height: 3px;
            background-color: white;
            border-radius: 50px;
            animation: scrollHint 1s ease-in-out 0.5s infinite alternate;
          }
        }
      }

      &-2 {
        .reserve-play-container {
          bottom: -8px;
          left: -16px;
        }
      }

      &-3 {
        .swiper-info-container {
          transition: opacity 0.25s ease-in;
        }
        .swiper-main {
          img {
            border-radius: 50%;
            -webkit-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.5);
          }
        }
      }

      &-5 {
        #text {
          div {
            width: 0%;
            overflow: hidden;
            -webkit-transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
            will-change: width, height;
            white-space: nowrap;
            background-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              from(#ffe592),
              to(#f3dc97)
            );
            background-image: linear-gradient(180deg, #ffe592, #f3dc97);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .text2 {
          position: absolute;
          top: 0;
          left: 0;
          right: auto;
          bottom: auto;
          z-index: -1;
          opacity: 0.24;

          #text1 {
            overflow: hidden;
          }
        }
        .color-animated {
          span {
            opacity: 0.3;
            transition: opacity 0.25s ease-out;
          }
        }
      }
    }
  }

  &.menu-page {
    .menu-item-categories {
      a {
        &.active,
        &:hover {
          background-color: $mc-secondary-color;
        }
      }
    }
  }

  &.about-us {
    .svgs {
      img {
        max-width: 60px;
      }
    }
  }
}
