$mc-primary-color: #F2DBC4;
$mc-secondary-color: #D76E34;
$mc-secondary-darker-color: #b45e2f;
$mc-tertiary-color: #344647;
$mc-white-color: #FFFFFF;

$headings-margin-bottom: 0;
$headings-line-height: normal;

$font-sizes: (
	1: 5.875rem, // 94px
	2: 4.5rem, // 72px
	3: 3rem, // 48px
    4: 2.25rem, // 36px
	5: 1.75rem, // 28px
	6: 1.125rem, //18px
	7: 1rem // 16px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5
);

$border-radius-xxl: 1.875rem;