footer{
    .pill{
        max-width: 800px;
        img{
           background-color: $mc-tertiary-color;
           width: 10%;
           &.burger{
            left: 5%;
            top: 17%;
           } 
           &.pizza{
            top: 3%;
            left: 48%;
           }
           &.hotdog{
            right: 12%;
            top: 12%;
           }
           &.juice{
            top: 77%;
            left: 11%;
           }
           &.pasta{
            top: 76%;
            right: 0%;
           }
        }
    }
}